node_modules
dist
dist-electron
.env
*.log
.DS_Store
Thumbs.db
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal
__pycache__/
*.pyc
.moodify_player/
.moodify_web/
.vscode/
.idea/
.vcursor/
*.mp3
*.wav
*.ogg